[user]
	name = Alicia Boya García
	email = ntrrgc@gmail.com
	signingkey = 33FFBF58
[push]
	default = simple
[core]
	excludesfile = /home/ntrrgc/.gitignore_global
	autocrlf = input
[alias]
	co = checkout
	br = branch
	undo-commit = reset --soft HEAD^
	unstage = reset HEAD
[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "ssh://git@git.kde.org/"]
	pushInsteadOf = kde:

# vi: set noexpandtab:
