[push]
	default = simple
[core]
	excludesfile = /home/ntrrgc/.gitignore_global
	autocrlf = input
	whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent
[alias]
	co = checkout
	br = branch
	undo-commit = reset --soft HEAD^
	unstage = reset HEAD
	mr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} merge-requests/$1/head:mr-$1 && git checkout mr-$1; }; f"
	pr  = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "ssh://git@git.kde.org/"]
	pushInsteadOf = kde:

[color "grep"]
	linenumber = green bold
	match = yellow reverse
	filename = green bold
	function = blue bold

[bz]
	browser = firefox3
[bz-tracker "gnome"]
	host = bugzilla.gnome.org

[includeIf "gitdir:~/Apps/gst-build/"]
	path = ~/.git-identity-igalia

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[pull]
	rebase = true

[init]
	defaultBranch = main
[format]
	thread = shallow

# vi: set noexpandtab:
