[user]
	name = Alicia Boya García
	email = ntrrgc@gmail.com
	signingkey = 33FFBF58
[push]
	default = simple
[core]
	excludesfile = /home/ntrrgc/.gitignore_global
	autocrlf = input
	whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent
[alias]
	co = checkout
	br = branch
	undo-commit = reset --soft HEAD^
	unstage = reset HEAD
[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "ssh://git@git.kde.org/"]
	pushInsteadOf = kde:

[color "grep"]
	linenumber = green bold
	match = yellow reverse
	filename = green bold
	function = blue bold

[bz]
	browser = firefox3
[bz-tracker "gnome"]
	host = bugzilla.gnome.org

[includeIf "gitdir:~/Apps/gst-build/"]
	path = ~/dotfiles/.gitconfig-igalia

[sendemail]
  confirm = auto
  smtpServer = smtp.gmail.com
  smtpServerPort = 587
  smtpEncryption = tls
  smtpUser = ntrrgc@gmail.com
[include]
  path = ~/.gitconfig_local

# vi: set noexpandtab:
