snippet li "local include" b
#include "${1}.h"
endsnippet

snippet gi "global include" b
#include <${1}>
endsnippet

snippet main "main function" 
int main(int argc, char **argv) {
	${1}
	return 0;
}
endsnippet

snippet stdmain
#include <iostream>
using namespace std;

int main(int argc, char **argv) {
	${1}
	return 0;
}
endsnippet
