snippet bl "block" b
\begin{$1}
  $2
\end{$1}
endsnippet

snippet fig "figure" b
\begin{figure}[H]
  \centering
  \includegraphics{figures/$1}
  \caption{$2}
  \label{$1}
\end{figure}
endsnippet

snippet t "tt" w
\texttt{$1}
endsnippet
snippet i "italic" w
\textit{$1}
endsnippet
snippet b "bold" w
\textbf{$1}
endsnippet

snippet frame "frame" w
\begin{frame}
  \frametitle{$1}

  $2
\end{frame}
endsnippet
